.container
	width: 1140px
	margin: auto
	font-size: 0

.container-full
	position: relative
	&--bg-gray-26
		background-color: #1d2126
	&--border
		border-bottom: 1px solid #dde1e4
	&--bg-gray-4d
		background-color: #3a454d
.class
	+icon-arrow-go-beta
a
	cursor: pointer

img
	max-width: 100%