a
	cursor: pointer

img
	max-width: 100%

.out
	position: relative
	max-width: 1024px
	margin: auto

.search
	width: 100%
	display: flex
	align-items: center
	justify-content: flex-start
	margin: 30px

.field
	display: block
	flex-grow: 2
	border: 1px solid gray
	height: 30px
	margin-right: 20px
	color: #000
	font-size: 15px
	padding-left: 20px
.loader
	position: fixed
	top: 0
	right: 0
	bottom: 0
	left: 0
	z-index: 10
	display: none
	&--show
		display: block
	&__icon
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		font-size: 100px
		animation: rotate 1s linear infinite

.table
	> tr
		cursor: pointer
	&__cell
		cursor: pointer
		.up
			display: inline-block
		.down
			display: none
		&--sort-down
			.up
				display: none
			.down
				display: inline-block
				vertical-align: middle
.nav
	text-align: center
.additional-info
	&__title
		font-size: 20px
	b
		margin-left: 10px
	p
		margin-bottom: 10px
		font-size: 15px
		&:last-of-type
			margin-bottom: 0
	&__header
		margin-bottom: 15px


@keyframes rotate
	from
		transform: rotate(0deg)
	to
		transform: rotate(360deg)
