.content
	max-width: 1024px
	margin: 0 auto
	+r(1024px)
		padding: 0 15px
	&__i
		display: flex
		align-items: flex-start
		justify-content: flex-start
		font-size: 0
	&__sidebar
		margin-right: 40px
		width: 200px
		+r(1024px)
			display: none
	&__main
		width: calc(784 / 1024 * 100%)
		+r(1024px)
			width: 100%
.main
	&__footer
		display: flex
		width: 100%
		align-items: center
		justify-content: space-between
		padding: 20px 10px
		background-color: #f2f2f2
		+r(370px)
			flex-direction: column
			margin-right: 0
	&__btn
		+r(370px)
			margin-bottom: 20px
			&:last-of-type
				margin-bottom: 0

body,html
	font-family: 'Arial', 'Helvetica', sans-serif
	line-height: 1

a
	cursor: pointer

img
	max-width: 100%
.svg-sprites
	height: 0
	overflow: hidden
	visibility: hidden
.icon
	width: 100%
	max-width: 100%
.components
	padding: 20px
	&__rating
		margin-bottom: 20px
	&__progress
		width: 40%
		margin-bottom: 20px
	&__title
		margin-bottom: 20px
	&__btn
		margin-bottom: 20px
		&:last-of-type
			margin-bottom: 0
button
	user-select: none

.page-index
	padding-top: 15px

input::-webkit-contacts-auto-fill-button
	visibility: hidden
	display: none !important
	pointer-events: none
	position: absolute
	right: 0

